<nav class="navbar navbar-expand navbar-light bg-dark pr-6">
  <div class="container">

  <a class="navbar-brand" href="/">Blog</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown" style="left: 70%;">
          <a class="nav-link dropdown-toggle" 
          href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            <img src="https://i.pinimg.com/originals/5a/a9/7e/5aa97eaafb62eb9c9ef538e584d8752c.png" 
            style="width: 10%;"
            alt="avartar" class="avatar">
            Minh Tri
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/courses/create">Đăng khóa học</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/me/stored/courses/news">Bài viết của tôi</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
          </ul>
      </li>
    </ul>

  </div>
  </div>
</nav>
